@page "/Definitions/Application"
@model ArchiX.Library.Web.Pages.Definitions.ApplicationModel
@{
    ViewData["Title"] = "Definitions - Application";
    Layout = "~/Templates/Modern/Pages/Shared/_Layout.cshtml";
}

<div class="container py-4">
    <h1 class="h4 mb-3">Definitions / Application</h1>
    <div class="card">
        <div class="card-body">
            Placeholder page.
        </div>
    </div>
</div>
