@page
@model ArchiX.WebHostDLL.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<div id="tab-main" class="archix-work-area">
    <h2>Dashboard</h2>
    <p>ArchiX.WebHostDLL demo dashboard.</p>
</div>
