<footer class="footer mt-5 py-3 bg-light border-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <span class="text-muted">&copy; @DateTime.Now.Year ArchiX - Modern Template</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">Gizlilik</a>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-muted">•</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">Kullaným Þartlarý</a>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-muted">•</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">Yardým</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
